<div class="p-4 bg-pink-100 text-black-800 rounded-lg shadow-lg">Dynamic Grid List</div>
<mat-grid-list cols="4" rowHeight="100px">
    <ng-container *ngFor="let tile of tiles">
        <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">{{tile.text}}
        </mat-grid-tile>
        <div>{{tile.text}}</div>
    </ng-container>
</mat-grid-list>
<div class="p-4 bg-pink-100 text-black-800 rounded-lg shadow-lg">Basic Grid List</div>
<!-- 10:1 - colsWidth=rowsHeight -->
<mat-grid-list cols="2" rowHeight="10:1">
    <mat-grid-tile [ngStyle]="{background: 'lightpink'}">1</mat-grid-tile>
    <mat-grid-tile [ngStyle]="{background: 'lightpink'}">2</mat-grid-tile>
    <mat-grid-tile [ngStyle]="{background: 'lightpink'}">3</mat-grid-tile>
    <mat-grid-tile [ngStyle]="{background: 'lightpink'}">4</mat-grid-tile>
    <mat-grid-tile [ngStyle]="{background: 'lightpink'}">5</mat-grid-tile>
    <mat-grid-tile [ngStyle]="{background: 'lightpink'}">6</mat-grid-tile>
</mat-grid-list>


<!-- <mat-grid-list cols="4" rowHeight="100px">
    <ng-template ngFor let-tile [ngForOf]="tiles" let-i="index">
        <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">{{tile.text}}
        </mat-grid-tile>
    </ng-template>
</mat-grid-list> -->