<section class="example-section">
    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
  </section>
  
  <section class="example-section">
    <span class="example-list-section">
        <!-- checked: tick -->
        <!-- indeterminate: minus -->
      <mat-checkbox
        class="example-margin"
        [checked]="task().completed"       
        [indeterminate]="partiallyComplete()"
        (change)="update($event.checked)"
      >
        <!-- Task la 1 signal nen khong the truy xuat truc tiep (task.name) ma phai su dung ham task() -->
        {{task().name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
          <li *ngFor="let subtask of task().subtasks; let i = index">
            <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
              {{subtask.name}}
            </mat-checkbox>
          </li>
      </ul>
    </span>
  </section>