<div class="header-container">
    <div class="logo">
        <img src="assets/images/robofi.png" alt="KriptoRealm Logo">
    </div>

    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="#" (click)="scrollToSection('home')">Home</button>
        <button mat-menu-item routerLink="#" (click)="scrollToSection('benefits')">Benefits</button>
        <button mat-menu-item routerLink="#" (click)="scrollToSection('advantages')">Advantages</button>
        <button mat-menu-item routerLink="#" (click)="scrollToSection('ctaPage')">Call To Action</button>
        <button mat-menu-item routerLink="#" (click)="scrollToSection('features')">Explore features</button>
    </mat-menu>

    <nav class="navigation">
        <a routerLink="#" (click)="scrollToSection('home')">Home</a>
        <a routerLink="#" (click)="scrollToSection('benefits')">Benefits</a>
        <a routerLink="#" (click)="scrollToSection('advantages')">Advantages</a>
        <a routerLink="#" (click)="scrollToSection('ctaPage')">Call To Action</a>
    </nav>
    <div (click)="scrollToSection('features')" class="cta-button">Explore features</div>
</div>