<div class="advantages-container">
    <div class="grid-container">
        <div class="image-wrapper">
            <img src="assets/images/phone-why-use.png" alt="App Preview" class="app-preview" />
        </div>
        <div class="content-wrapper">
            <div class="section-title animate-on-scroll">
                {{ "ADVANTAGESPAGE.TITLE.FIRST" | translate }}
                <span class="highlight">{{ "ADVANTAGESPAGE.APPNAME" | translate }}</span>
                {{ "ADVANTAGESPAGE.TITLE.SECOND" | translate }}
            </div>
            <ul class="features-list">
                <li class="feature-item animate-on-scroll">
                    <img src="assets/images/purchasing-icon.png" alt="Simple Purchasing Icon" class="feature-icon" />
                    <div>
                        <h3 class="feature-title">{{ "ADVANTAGESPAGE.ADVANTAGEFIRST.TITLE" | translate}}</h3>
                        <p class="feature-description">{{ "ADVANTAGESPAGE.ADVANTAGEFIRST.DESCRIPTION" | translate}}</p>
                    </div>
                </li>
                <li class="feature-item animate-on-scroll">
                    <img src="assets/images/academy-icon.png" alt="Academy Icon" class="feature-icon" />
                    <div>
                        <h3 class="feature-title">{{ "ADVANTAGESPAGE.ADVANTAGESECOND.TITLE" | translate}}</h3>
                        <p class="feature-description">{{ "ADVANTAGESPAGE.ADVANTAGESECOND.DESCRIPTION" | translate}}</p>
                    </div>
                </li>
                <li class="feature-item animate-on-scroll">
                    <img src="assets/images/assistance-icon.png" alt="Customer Assistance Icon" class="feature-icon" />
                    <div>
                        <h3 class="feature-title">{{ "ADVANTAGESPAGE.ADVANTAGETHIRD.TITLE" | translate}}</h3>
                        <p class="feature-description">{{ "ADVANTAGESPAGE.ADVANTAGETHIRD.DESCRIPTION" | translate}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>