<div class="features-container">
    <div class="header animate-on-scroll">
        {{ "FEATURESPAGE.TITLE" | translate }}
    </div>

    <!-- Features Layout -->
    <div class="content-container">
        <mat-grid-list [cols]="gridCols" [rowHeight]="rowHeight" gutterSize="28px">
            <!-- Left Features -->
            <mat-grid-tile [colspan]="colLeftFeatures" [rowspan]="rowLeftFeatures" class="animate-on-scroll">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/crypto-icon.png" alt="Crypto diversification">
                    </div>
                    <h3 class="feature-title">{{ "FEATURESPAGE.FEATUREFIRST.TITLE" | translate}}</h3>
                    <p class="feature-description">
                        {{ "FEATURESPAGE.FEATUREFIRST.DESCRIPTION" | translate}}
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="colLeftFeatures" [rowspan]="rowLeftFeatures" class="animate-on-scroll-right">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/rocket-icon.png" alt="Dynamic rebalancing">
                    </div>
                    <h3 class="feature-title">{{ "FEATURESPAGE.FEATURESECOND.TITLE" | translate}}</h3>
                    <p class="feature-description">
                        {{ "FEATURESPAGE.FEATURESECOND.DESCRIPTION" | translate}}
                    </p>
                </div>
            </mat-grid-tile>

            <!--Right Features: iOS & Android App -->
            <mat-grid-tile [colspan]="colRightFeature" [rowspan]="rowRightFeature" [style.height.px]="1000">
                <div class="feature feature-center">
                    <h3 class="feature-title">{{ "FEATURESPAGE.FEATUREFIFTH.TITLE" | translate}}</h3>
                    <p class="feature-description">
                        {{ "FEATURESPAGE.FEATUREFIFTH.DESCRIPTION" | translate}}
                    </p>
                    <div class="app-preview">
                        <img src="assets/images/phone-preview.png" alt="App Preview Frame" class="phone-preview">
                    </div>
                </div>
            </mat-grid-tile>

            <!-- Left Features -->
            <mat-grid-tile [colspan]="colLeftFeatures" [rowspan]="rowLeftFeatures" class="animate-on-scroll">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/graph-icon.png" alt="Accessible investing">
                    </div>
                    <h3 class="feature-title">{{ "FEATURESPAGE.FEATURETHIRD.TITLE" | translate}}</h3>
                    <p class="feature-description">
                        {{ "FEATURESPAGE.FEATURETHIRD.DESCRIPTION" | translate}}
                    </p>
                </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="colLeftFeatures" [rowspan]="rowLeftFeatures" class="animate-on-scroll-right">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/chart-icon.png" alt="Trading charts">
                    </div>
                    <h3 class="feature-title">{{ "FEATURESPAGE.FEATUREFOURTH.TITLE" | translate}}</h3>
                    <p class="feature-description">
                        {{ "FEATURESPAGE.FEATUREFOURTH.DESCRIPTION" | translate}}
                    </p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>