<header class="bg-white shadow">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <!-- Logo -->
        <a href="#" class="text-2xl font-bold text-blue-500">TyanManga</a>

        <!-- Navigation Links -->
        <nav class="hidden md:flex space-x-6">
            <a routerLink="" class="text-gray-600 hover:text-blue-500">Home</a>
            <a routerLink="/about" class="text-gray-600 hover:text-blue-500">About</a>
            <a routerLink="/pokemon" class="text-gray-600 hover:text-blue-500">Pokemon</a>
            <a routerLink="/test" class="text-gray-600 hover:text-blue-500">Test</a>
        </nav>

        <!-- Login Button -->
        <div class="hidden md:block">
            <ng-container *ngIf="!(authService.isLoggedIn$ | async); else allowLoggedIn">
                <a routerLink="/login" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">Sign In</a>
                <a routerLink="/register" class="ml-2 px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">Sign Up</a>
            </ng-container>

            <ng-template #allowLoggedIn>
                <a routerLink="/profile" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">My Account</a>
                <a (click)="onLogOutClick()" class="cursor-pointer ml-2 px-4 py-2 bg-red-600 text-white font-semibold rounded hover:bg-red-400">Logout</a>
            </ng-template>
        </div>
    </div>
</header>