<form [formGroup]="userForm" (ngSubmit)="submitUser()">
    <!-- Current Password -->
    <div class="mb-4">
        <label for="currentPassword" class="block text-gray-600 font-medium mb-2">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" formControlName="currentPassword"
            required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
        <div *ngIf="userForm.controls['currentPassword'].invalid && userForm.controls['currentPassword'].touched "
            class="text-sm text-red-600 mt-1">
            <div *ngIf="userForm.controls['currentPassword'].hasError('required')">Password is required</div>
            <div *ngIf="userForm.controls['currentPassword'].hasError('pattern')">Password must contain at least 1 uppercase
                letter, 1 number, and 1 symbol</div>
        </div>
    </div>

    <!--New Password -->
    <div class="mb-4">
        <label for="password" class="block text-gray-600 font-medium mb-2">New Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" formControlName="password"
            required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
        <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched "
            class="text-sm text-red-600 mt-1">
            <div *ngIf="userForm.controls['password'].hasError('required')">Password is required</div>
            <div *ngIf="userForm.controls['password'].hasError('pattern')">Password must contain at least 1 uppercase
                letter, 1 number, and 1 symbol</div>
        </div>
    </div>

    <!-- Confirm Password -->
    <div class="mb-6">
        <label for="confirmPassword" class="block text-gray-600 font-medium mb-2">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword"
            formControlName="confirmPassword" required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
        <div *ngIf="userForm.controls['confirmPassword'].invalid && userForm.controls['confirmPassword'].touched || userForm.controls['confirmPassword'].dirty"
            class="text-sm text-red-600 mt-1">
            <div *ngIf="userForm.errors?.['passwordMatch']">Password must match</div>
        </div>
    </div>

    <!-- Sign Up Button -->
    <button type="submit"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        Submit
    </button>
</form>