<div class="body-container">
    <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md mt-10">
        <!-- Header -->
        <header class="text-center mb-6">
            <h1 class="text-3xl font-bold text-gray-800">User Profile</h1>
        </header>

        <!-- Profile Card -->
        <div class="flex items-center justify-center">
            <div class="text-center mb-8">
                <h2 class="text-xl font-semibold text-gray-700">{{ user.fullName}}</h2>
                <p class="text-gray-500">{{ user.email }}</p>
                <p class="text-gray-500">{{ user.address }}</p>
                <p class="text-gray-500">{{ user.phone }}</p>
                <p class="text-gray-500">Email Confirmed: {{ user.emailConfirmed }}</p>
                <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Edit Profile</button>
            </div>
        </div>

            <!-- Tabs -->
            <div class="flex justify-center space-x-4 mb-6 border-b border-gray-200">
                <button (click)="changeTab('overview')" [ngClass]="[ currentTab === 'overview' ? 'text-blue-500': 'text-gray-600' ]"
                    class="tab-link py-2 px-4 font-medium hover:text-blue-500">Overview</button>
                <button (click)="changeTab('activity')" [ngClass]="[ currentTab === 'activity' ? 'text-blue-500': 'text-gray-600' ]"
                    class="tab-link py-2 px-4 font-medium hover:text-blue-500">Activity</button>
                <button (click)="changeTab('settings')" [ngClass]="[ currentTab === 'settings' ? 'text-blue-500': 'text-gray-600' ]"
                    class="tab-link py-2 px-4 font-medium hover:text-blue-500">Change Password</button>
            </div>

        <!-- Tab Content -->
        <div *ngIf="currentTab === 'overview'" id="overview">
            <h3 class="text-lg font-semibold text-gray-700 mb-4">About Me</h3>
            <p class="text-gray-600">
                Welcome to my profile! I am a software developer with a passion for creating amazing applications.
            </p>
        </div>

        <div *ngIf="currentTab === 'activity'" id="activity">
            <h3 class="text-lg font-semibold text-gray-700 mb-4">Recent Activity</h3>
            <ul class="list-disc list-inside text-gray-600">
                <li>Posted a comment on "How to learn Angular" - 2 days ago</li>
                <li>Uploaded a new profile picture - 1 week ago</li>
            </ul>
        </div>

        <div *ngIf="currentTab === 'settings'" id="settings">
            <app-change-password></app-change-password>
        </div>
    </div>
</div>